exportPattern("^[[:alpha:]]+")
# Import all packages listed as Imports or Depends
import(tcltk)
importFrom(tcltk2,tk2tip)
importFrom(rgl,bg3d)
importFrom(rgl,aspect3d)
importFrom(rgl,par3d)
importFrom(rgl,axes3d)
importFrom(rgl,points3d)
importFrom(rgl,texts3d)
importFrom(rgl,segments3d)
importFrom(rgl,rgl.bg)
importFrom(rgl,rgl.bringtotop)
importFrom(tkrplot,tkrreplot)
importFrom(tkrplot,tkrplot)
importFrom(shapes,procGPA)
importFrom(plotrix,mtext3d)
importFrom(plotrix,boxed.labels)
importFrom(plotrix,draw.circle)
importFrom(MASS,select)
importFrom(MASS,ginv)
importFrom("grDevices", "bmp", "chull", "dev.off", "jpeg", "pdf", "png", "postscript")
importFrom("graphics", "abline", "arrows", "barplot", "hist", "lines", "par", "points", "segments", "text", "layout")
importFrom("stats", "cov", "cutree", "dist", "hclust", "kmeans", "pnorm", "qnorm", "qqnorm", "qt", "quantile", "sd", "var")
importFrom("utils", "write.table")